/* Barra superior fixa */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10;
  }
  
  /* Ícone de menu */
  .menu-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Container principal para ajustar o layout */
  .main-container {
    display: flex;
    height: 100vh;
    padding-top: 60px; /* Compensa a altura da barra superior */
  }
  
  /* Menu lateral */
  .side-menu {
    width: 200px;
    height: 100%;
    background-color: #444;
    color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    position: fixed;
    z-index: 5;
    padding: 10px;
    flex-direction: column;
  }
  
  .side-menu.menu-open {
    transform: translateX(0);
  }
  
  /* Conteúdo principal */
  .content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    margin-left: 0; /* Ajusta caso precise compensar a largura do menu */
    transition: margin-left 0.3s;
  }

  .logout{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout:focus{
    outline: none; 
  }

  .logout>i{
    font-size: 24px;
    color: #fff;
  }

  .side-menu ul {
    list-style-type: none; /* Remove o estilo da lista */
    padding: 0;
    margin: 0;
  }
  
  .side-menu li {
    padding: 10px 0;
    margin: 0;
  }

  .side-menu a{
    color: inherit;       /* Usa a cor do item pai */
    text-decoration: none; /* Remove o sublinhado */
    display: block;       /* Faz o link ocupar todo o espaço do `li` */
    padding: 10px;
    transition: background-color 0.3s; /* Efeito de hover */
  }
  