<!-- Barra superior fixa -->
<div class="top-bar" *ngIf="isLoggedIn">
    <i class="bi bi-list menu-icon" id="menu-icon" (click)="toggleMenu()"></i>
    <button (click)="logout()">Sair</button> <!-- Botão de logout -->
  </div>
  
  <!-- Estrutura principal -->
  <div class="main-container">
    <!-- Menu lateral retrátil -->
    <div class="side-menu" [ngClass]="{ 'menu-open': isMenuOpen }">
      <p>Conteúdo do Menu</p>
    </div>
  
    <!-- Conteúdo principal -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  