<div class="d-flex justify-content-center align-items-center" style="height: 100vh !important;">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center col-6 d-flex justify-content-center align-items-center">
        <h1 class="card-title">Gerenciador de Placas</h1>
        <h2 class="card-text">Seja Bem Vindo!</h2>
        <div class="col-6 mb-2">
            <button type="button" (click)="entrar()" class="btn btn-primary">Entrar</button>
        </div>
    </div>
  </div>
</div>
